//Main colors
$accent-color: #43aba0;
$primary-color: #4da6a0;

//Text colors
$primary-text-color: #1a2a37;
$secondary-text-color: #777c82;
$default-text-color: #46454a;

//Other colors
$divider-color: #d9d8dd;
$button-color: #6c8d97;
$white: #ffffff;